# ========================
# .NET / Backend
# ========================
**/bin/
**/obj/
**/*.user
**/*.suo
temp_build_output/

# Configuraciones sensibles
appsettings.Development.json
appsettings.Local.json
appsettings.json

# ========================
# Google OAuth - CRÍTICO
# ========================
Resources/token.json
Resources/token.json/
Resources/tokens/
Resources/credentials.json

# ========================
# Vue / Node / Frontend
# ========================
**/node_modules/
**/.env
**/.env.local
**/.env.production
**/dist/

# ========================
# IDEs
# ========================
.vscode/
.idea/
*.DS_Store




# ========================
# .NET / Backend
# ========================
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/**/*.suo
backend/appsettings.Development.json
backend/Resources/token.json/
backend/Resources/credentials.json

# ========================
# Vue / Node / Frontend
# ========================
**/node_modules/
**/.env
**/.env.local
**/.env.production
**/dist/

# ========================
# IDEs
# ========================
.vscode/
.idea/
*.DS_Store