@import "tailwindcss";

@theme {
  --color-primary: #2563eb;

  --color-bg-light: #f5f7fb;
  --color-card-light: #ffffff;
  --color-text-light: #1e293b;

  --color-bg-dark: #0f172a;
  --color-card-dark: #1e293b;
  --color-card-dark-2: #334155;
  --color-text-dark: #e2e8f0;

  --color-steel: #4682b4;
}

@custom-variant dark (&:where(.dark, .dark *));
